!!! 5
%html
  %head
    %title= "Anonymously"
    %meta{ :content => "Anonymous message service with little twist", :name => "description" }
    %meta{ :content => "A2B1P3R1T1", :name => "author" }
    %link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
  %body
    %section
      %article
        %header
          %center
            %h2
              = "Express Anonymous"
              %br
              = image_tag "logo.png"
            %p
              Posted on
              %time{ :datetime => "2018-03-04T16:31:24+02:00" }= "March 2018"
              by
              %a{ :href => "#" }= "A2B1P3R1T1"
              %article
                %p
                  Anonymous message service with little twist.
                %p
                  Come JOIN US!
        
      %footer
        %p
          Copyright 2018 A2B1P3R1T1