%html{:lang => "en"}
  %body
    %h1 Wallet points = #{@wallet.points}
    .container
    .text-center
      %h2 Wallet histories
      %table.table.table-striped
        %thead
          %tr
            %th Points
            %th Transaction Type
            %th User's Name
            %th Time
            %th Date
        %tbody
        - @wallet.wallet_histories.each do |history|        
          %tr
            %td
              = '+' if history.points > 0
              = history.points
            %td
              = history.transaction_type
            %td
              = history.recepient_name
            %td
              = history.created_at.strftime("%I : %M %p")
            %td
              = history.created_at.strftime("%a , %d %b %y")
          %tr